Below is all the data provided for the certificate. It can be formatted with Consul template language,
or, the file can be parsed by a follow-on command as referenced here: https://www.vaultproject.io/docs/agent/template#command
1622672513

Certificate: 
-----BEGIN CERTIFICATE-----
MIIDYjCCAkqgAwIBAgIUano4ZRRIIr1S+7VV/VCgIcYQQ34wDQYJKoZIhvcNAQEL
BQAwHzEdMBsGA1UEAxMUbXkuaGFzaGljb3JwZGVtby5jb20wHhcNMjEwNjAyMjIy
MTIzWhcNMjEwNjAyMjMyMTUzWjAgMR4wHAYDVQQDExVkZXYuaGFzaGljb3JwZGVt
by5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDT30eq9PzivWu7
WJhrhTYIwpkaA523bc+My3Ayo9TasbbACbDMoEFg30cbtMtFRuBwpNrhrj+50gVS
nNKIqSPqKA2nmPptrGBhCmUEGGVpvMX/TOdMmR/4F+vz4V8iYDZ4VYBwX3UdIP70
0uGHWy+a5V3rcd0pQx5OwoTQCdc66JnmD4CXlxiZ/haWyZnGP8caQQpfAndHqK6J
SMBmFBp9R4vi67OpA/i1wuw/UwkS3uehSu3uAwfcayaAcGU2QcGMoihcQ49tXVZq
qW4GdXqktInXpK7DwM7L+xNjAfVst+fidOcMZEZLaNeCy4c4qCVEMVrlT8n6ycRE
T+dgyI7FAgMBAAGjgZQwgZEwDgYDVR0PAQH/BAQDAgOoMB0GA1UdJQQWMBQGCCsG
AQUFBwMBBggrBgEFBQcDAjAdBgNVHQ4EFgQU6BcHeaxH04/SxlLM9T9lZsZNJsEw
HwYDVR0jBBgwFoAUrn0mWVBzjj1y0BTWd2KLWAu8EgwwIAYDVR0RBBkwF4IVZGV2
Lmhhc2hpY29ycGRlbW8uY29tMA0GCSqGSIb3DQEBCwUAA4IBAQCA/croW4SkZyf5
KUOoW/3vbXasEs08Np+5LVF7P/8jFm0NSmq17tuSCww1MgqYPQXvZ7d6tMmOAHXr
RafSX/rfsJwtTwRFfk/LpAu6gumLF26GvHNXNT1rLZ3bEn0N1JYhQfEFech5sBWU
LLwdXqBk1U+oxLRgQSuoW8to5kwGVrwx4DjRJe7E5fjdmtdyLneOx7cQjxXI7ByT
QiPTZnShig2Y+BSqXUGJA8FtElii0vbrjOlUJcczBqLmEomVOKVsuJbfKkMw3NNR
h73yv7xZ1TgNZPPB4et1QLO+gXh3HU4Y7yrdfrP8ISs9mRXGs+LoMXKhQONxAkmP
EwupYnMo
-----END CERTIFICATE-----

Expiration (Unix timestamp): 1622676113
TTL (seconds): 3600

Issuing CA: -----BEGIN CERTIFICATE-----
MIIDUjCCAjqgAwIBAgIUO4oTBIyrdO5lPPZmUVLt+mVgwW4wDQYJKoZIhvcNAQEL
BQAwHzEdMBsGA1UEAxMUbXkuaGFzaGljb3JwZGVtby5jb20wHhcNMjEwNjAyMTkz
MDMzWhcNMjEwNjAzMTkzMTAyWjAfMR0wGwYDVQQDExRteS5oYXNoaWNvcnBkZW1v
LmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAOJ+OLl5B3f7gw0B
hA/tcJZxjmSEgfHLluxZBpUVsc8e0ALvU+lZL8e4SAl+Wl3XzmbZLGRWd0EyAGzD
tLzndn2jjrXO+tAhRupp0XxyJGTFrDsM4G1REnOTt8cbqikxeKN/SA9vbREDbqXX
wWvjXA1Ba0mJmuJgTJ3qkEMwDq8EIdCXrAiGDHyUDCrQBxuQ/y963Jqoj1Xu8HIU
LKiay5NJBKKsVoahvrpYz/QUGofRRni6Vtg1ZRv2IXY/DFuEczgzyp3mk2yYotNb
yfeIBgVU9PZbFUMpu4gA/IytPtFld7yIRH8beQ/H8rbtNpmG9FqQPvyEd4UbPfwD
8bxQaJMCAwEAAaOBhTCBgjAOBgNVHQ8BAf8EBAMCAQYwDwYDVR0TAQH/BAUwAwEB
/zAdBgNVHQ4EFgQUrn0mWVBzjj1y0BTWd2KLWAu8EgwwHwYDVR0jBBgwFoAUrn0m
WVBzjj1y0BTWd2KLWAu8EgwwHwYDVR0RBBgwFoIUbXkuaGFzaGljb3JwZGVtby5j
b20wDQYJKoZIhvcNAQELBQADggEBAFZI6Uzvwf7V9zBg2PXGLTjDidjVK51hFhjy
eExVDCJPh8nSzdDh1r2nWYE/yQrFpSrguJ5GDgxtGISLF3xNroQgyIw1DJg6YOmm
IWqMXHl+fskWPsbB77THuaG9iJQQOVDOocQxsH5bhd7f7HbL8Trdgr9DJjUF7I4U
X5rW59D6/mb1v0CcEBVvbXUddcwc7aViearqEpyFfTNqn7+v829TFp0Qtd79scu2
GNRfIITZJSSqwKqPO5y/sUqcjfL+G2sGe5TSA7RJkFxcM+//mPn/SVusnbZdknVs
UBh/kQrrk7xno/cdFCzfKOJFK8XjeX98dFPcZc+0VUU2XBbSZdo=
-----END CERTIFICATE-----

Private key: -----BEGIN RSA PRIVATE KEY-----
MIIEowIBAAKCAQEA099HqvT84r1ru1iYa4U2CMKZGgOdt23PjMtwMqPU2rG2wAmw
zKBBYN9HG7TLRUbgcKTa4a4/udIFUpzSiKkj6igNp5j6baxgYQplBBhlabzF/0zn
TJkf+Bfr8+FfImA2eFWAcF91HSD+9NLhh1svmuVd63HdKUMeTsKE0AnXOuiZ5g+A
l5cYmf4WlsmZxj/HGkEKXwJ3R6iuiUjAZhQafUeL4uuzqQP4tcLsP1MJEt7noUrt
7gMH3GsmgHBlNkHBjKIoXEOPbV1WaqluBnV6pLSJ16Suw8DOy/sTYwH1bLfn4nTn
DGRGS2jXgsuHOKglRDFa5U/J+snERE/nYMiOxQIDAQABAoIBAC+to1cZYn8z2TaD
rWkkxRAbmpB8F9XbZEVu0oTS0WeVbmawx5SEy7GdDUdy2/tvA7rVnlwC9lw+ouwA
VnBif66F7Oy2RETB8b5ktG7Dfq7YyEW3bKWUH9mYqIRtRxdZR2i09P5UvOodLsKx
Ygcvwfq9evEs4nQSopNeuryGOmUK4eQMbUchYv+w2ZKnzNhORn9jJ96f/MQ7rDDI
6Ekc25NQS8PyB3Csrlm37TFCV9D+y0VL5+mIzV9UwbgXHd2AYt4AIbc+tvb0/LD+
1W9wYmTR03mezO1uDMo89VmZ41JJMXMAx3ezu+3RXnGGAqESVDBrEST7CHGu+1hG
10gYCwECgYEA2TDOeOo6VETu5y7CvewTeonHejKMTa58F+Pji0jB8qW0LXiO7IW/
PtJCikXxUvxmXaQDCFn0UIRp6tgbvuOJe0LYNcHBSxzDW4CZ5U53Yd2OKEKyGLiI
1N59xRYoCxg27vEEaE69I+YxhTBUsLTvpHFyREXs2YWuJi7eNaL/zhECgYEA+bsv
XvZcGuWNZIgC+q3ASClEvMnMr88L8pFPYwtRYUKk0AEATbjBg7BtuV6xVRnlru0e
AfOVyFpCV9UrgubIGVLVIZ7gK+owPVPQyzI7lS5kqFgD5nGC7PBOToiTs9JyU56R
J7uVb3BxFd12JBZYzW4DCUplsR86ouM0vVrsUXUCgYBx/E5wYSVpsp/bTsw/1tVG
O2cod7zwzAEunJiAMhgv281bC+mesnbzZnArl5eWoQasYHaC/Irfcw8PhInTPiGa
QjOsytpCLH9O14htMygugZOpB4/mr3qIlZhWRlGPuQ6jinRwtdpIK/iTWREpiFw4
5p08vaIXazRBr9lJNxmfsQKBgQD4KUewoTXz0GsKHJKBUsoBq2jQBeSuTBw+RqHR
9XxAHz6yKFyJ33AFkfvnOi8UNzDj/GNWYx1TxEWrDH05jmYHrCV5TGzNluGq/7A7
S8ajvz9tflEZ3XDSTRYzukq0ZgsQB0GNbz3XSLBHnxP4VnCWa5z+zXxyX2sgVJGj
HUg6xQKBgEqIyYpMEZDEuYZRYAUfEEU47ChuRg8hqZ5htI7h7AtaWk4Bkjl3EGWn
Inqs2bso4HpVQYysIZ6y19IWwVc82ymyqLrk9uvndW3YR4QFHqmSq17MsukTK1++
9sNbCiwW9cJpVxPTUsfQQrVchPL9L99bUkAgj6nQmymaEaUZRZAh
-----END RSA PRIVATE KEY-----

Private key type: rsa
Serial number: 6a:7a:38:65:14:48:22:bd:52:fb:b5:55:fd:50:a0:21:c6:10:43:7e
